/* base.css */
html,body,div,p,h1,h2,h3,ul,li,img{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Microsoft Yahei";
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
    outline:none;
}
a:focus {
    outline:none;
}
img {
    border:none;
}